@use '@angular/material' as mat;

// define seu tema
$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
  ),
));

// aplica o tema a todos os componentes
@include mat.all-component-themes($my-theme);

@include mat.toolbar-color($my-theme);

