@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.toolbar-overrides((
    container-background-color: rgb(43, 0, 255),
    container-text-color: rgb(249, 250, 250),
  ));
}
