@use '@angular/material' as mat;

@include mat.core();

$custom-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
    tertiary: mat.$red-palette,
  ),
  typography: (
    brand-family: 'Poppins, Roboto, sans-serif',
    plain-family: 'Poppins, Roboto, sans-serif',
    bold-weight: 700,
    regular-weight: 700,
  ),
  density: (
    scale: 0,
  ),
));

@include mat.all-component-themes($custom-theme);

:root {
  @include mat.toolbar-overrides((
    container-background-color: #3f45b5,
    container-text-color: #f8f5f6,
  ));
}
